@page "/denonciation-result/{Id}"
@inject DenonciationGetService DenonciationService

<h2>Résultat de la dénonciation</h2>

@if (denonciation != null)
{
    <p>ID de la dénonciation : @Id</p>
    <p>Heure de signalement : @denonciation.Horodatage</p>
    <p>Type de délit : @denonciation.TypeDelit</p>
    <p>Pays d'évasion : @denonciation.PaysEvasion</p>

    @if (denonciation.Informateur != null)
    {
        <p>Informateur : @denonciation.Informateur.Nom @denonciation.Informateur.Prenom</p>
        <p>Adresse : @denonciation.Informateur.Adresse</p>
    }
    else
    {
        <p>Informateur : Information non disponible</p>
    }

    @if (denonciation.Suspect != null)
    {
        <p>Suspect : @denonciation.Suspect.Nom @denonciation.Suspect.Prenom</p>
        <p>Adresse : @denonciation.Suspect.Adresse</p>
    }
    else
    {
        <p>Suspect : Information non disponible</p>
    }
}
else
{
    <p>Aucun ID correspondant à @Id n'a été trouvé.</p>
}

@code {

    [Parameter]
    public string Id { get; set; }

    private DenonciationGetAPI denonciation;

    protected override async Task OnInitializedAsync()
    {
        await fdp();
    }

    private async Task fdp()
    {
        denonciation = await DenonciationService.GetDenonciationAsync(Guid.Parse(Id));
    }

}